{%extends "layout.html"%}

{%block title%}
    Score Sheet
{%endblock title%}

{%block content%}
    <div class="container">
        <h1>Board Game Score Sheets</h1>
    </div>
    <br>
    <div class="container">
        <h4>Wizard Card Game</h4>
        <p>
            Wizard is a card game played with a standard size 52-card deck plus 4 Wizards and 4 Jesters cards.<br>
            Before each round, you bet how many tricks you will win in that round. <br>
            To gain points, you need to win the amount you bet. <br>
            You will lose points for winning over or under the amount you bet.
        </p>
        <ul>
            <li><a href="/score-sheets/wizard">New Score Sheet</a></li>
            <li><a href="">Game History</a></li>
        </ul>
    </div>
    <div class="container">
        <h4>Another Game</h4>
        <p>
            Some Description
        </p>
        <ul>
            <li><a href="">New Score Sheet</a></li>
            <li><a href="">Game History</a></li>
        </ul>
    </div>
{%endblock content%}